<button (click)="exibirPlacar()">Placar</button>



<div class="board-oldWoman">
    <div class="line">
        <div class="position" value="1" (click)="teste(1)">{{ valor1 }}</div>
        <div class="position" value="2" (click)="teste(2)">{{ valor2 }}</div>
        <div class="position" value="3" (click)="teste(3)">{{ valor3 }}</div>
    </div>
    <div class="line">
        <div class="position" value="4" (click)="teste(4)">{{ valor4 }}</div>
        <div class="position" value="5" (click)="teste(5)">{{ valor5 }}</div>
        <div class="position" value="6" (click)="teste(6)">{{ valor6 }}</div>
    </div>
    <div class="line">
        <div class="position" value="7" (click)="teste(7)">{{ valor7 }}</div>
        <div class="position" value="8" (click)="teste(8)">{{ valor8 }}</div>
        <div class="position" value="9"(click)="teste(9)">{{ valor9 }}</div>
    </div>
</div>

<button (click)="resetar()">Resetar</button>
